<div class="bg-[#252848] rounded-2xl border-2 border-[#353760] p-8 shadow-2xl relative w-full">
        
    <div class="flex justify-between items-center mb-6 border-b border-[#353760] pb-4">
        <span class="text-[#F4B942] font-bold uppercase tracking-widest text-xs">
            Nivel {{ level_id }} • Ejercicio {{ ejercicio_id }}
        </span>
        <button type="button" onclick="cerrarModal()" class="text-[#8B8FB5] hover:text-white transition-colors font-bold text-sm">
            ✕ Abandonar
        </button>
    </div>

    <h1 class="text-2xl text-white font-black mb-8 text-center">{{ pregunta.texto }}</h1>

    <form class="flex flex-col gap-4">
        <button type="button"
                onclick="activarComodin()"
                class="mb-4 px-4 py-2 bg-gray-500 hover:bg-gray-600 text-white rounded-lg">
            Usar comodín
        </button>
        {% for opcion in pregunta.opciones %}
        <label 
            data-comodin="{{ opcion.comodin | lower }}"
            class="opcion flex items-center gap-4 p-4 border-2 border-[#353760] rounded-xl cursor-pointer transition-all hover:bg-[#353760] hover:border-[#F4B942] group">
            
            <input type="radio" name="respuesta" value="{{ opcion.id }}" required 
                class="w-5 h-5 text-[#F4B942] bg-[#1A1C38] border-[#353760] focus:ring-[#F4B942]">

            <span class="text-lg group-hover:text-white text-gray-300">{{ opcion.texto }}</span>
        </label>
        {% endfor %}

        <button type="submit" 
                class="mt-6 w-full py-4 bg-[#F4B942] hover:bg-[#D9A030] text-[#252848] font-black rounded-xl text-lg transition-all shadow-[0_4px_16px_rgba(244,185,66,0.3)] hover:scale-[1.02]">
            Enviar Respuesta
        </button>
    </form>
</div>